# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
db.sqlite3
media/

 

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Node Modules
node_modules/

# Tailwind cache
.npm/

# Render
.render/

# Temporary files
*.tmp
*.swp