{% extends "base.html" %}

{% block content %}

<div class="min-h-auto flex items-center justify-center px-4">

    <div
        class="w-full max-w-md bg-white/5 border border-white/10 backdrop-blur-xl rounded-2xl shadow-xl p-8">

        <!-- Heading -->

        <div class="text-center mb-8">

            <h1
                class="text-3xl font-bold text-slate-100">

                Reset Password

            </h1>

            <p class="text-slate-400 mt-2">

                Enter your new password.

            </p>

        </div>
 

        <form
            method="POST"
            class="space-y-5">

            {% csrf_token %}

            <div>

                <label
                    class="block text-sm text-slate-300 mb-2">

                    New Password

                </label>

                <input

                    type="password"

                    name="password1"

                    required

                    class="w-full px-4 py-3
                    text-white
                    border border-slate-600
                    rounded-xl
                    focus:outline-none
                    focus:ring-2
                    focus:ring-indigo-600"

                    placeholder="Enter new password">

            </div>

            <div>

                <label
                    class="block text-sm text-slate-300 mb-2">

                    Confirm Password

                </label>

                <input

                    type="password"

                    name="password2"

                    required

                    class="w-full px-4 py-3
                    text-white
                    border border-slate-600
                    rounded-xl
                    focus:outline-none
                    focus:ring-2
                    focus:ring-indigo-600"

                    placeholder="Confirm password">

            </div>

            <button

                type="submit"

                class="w-full bg-white hover:bg-indigo-700 hover:text-white
                text-black
                font-semibold
                py-3
                rounded-xl
                transition">

                Update Password

            </button>

        </form>

        <div class="mt-6 text-center">

            <a
                href="{% url 'login_view' %}"

                class="text-indigo-400 hover:underline">

                Back to Login

            </a>

        </div>

    </div>

</div>

{% endblock %}