{% extends "base.html" %}
{% block content %}
<div class="min-h-auto flex items-center justify-center px-4">
  <div class="w-full max-w-md shadow-slate-800 rounded-2xl shadow-xl p-8">
    <div class="text-center mb-8">
      <h1 class="text-3xl font-bold text-slate-100">Create Account</h1>
      <p class="text-slate-200 mt-2">Start managing your tasks with TaskFlow</p>
    </div>

  

    <form method="POST" class="space-y-5">
      {% csrf_token %}

      <!-- Username -->
      <div>
        <label class="block text-sm font-medium text-slate-100 mb-2">
          Username
        </label>
        {{ form.username }}
      </div>
      <!-- email -->
      <div>
        <label class="block text-sm font-medium text-slate-100 mb-2">
          Email
        </label>
        {{ form.email }}
      </div>

      <!-- Password1 -->
      <div>
        <label class="block text-sm font-medium text-slate-100 mb-2">
          Password
        </label>
        {{ form.password1 }}
      </div>

      <!-- Password2 -->
      <div>
        <label class="block text-sm font-medium text-slate-100 mb-2">
          Confirm Password
        </label>
        {{ form.password2 }}
      </div>

      <button
        type="submit"
        class="w-full bg-gray-100 hover:bg-indigo-700 text-black font-semibold py-3 rounded-xl transition duration-300"
      >
        Sign Up
      </button>
    </form>

    <div class="mt-6 text-center">
      <p class="text-slate-600">
        Already have an account?
        <a
          href="{% url 'login_view' %}"
          class="text-indigo-600 hover:text-indigo-700 font-semibold"
        >
          Login
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
